/*.form-control, .control-label{
	font-size: 12px;
}*/
.form-control::-webkit-input-placeholder {
  color: gray;
  opacity: 0.6;
}

.form-control,.control-label{
	font-size: 12px;
	padding: 8px;
	min-height: 20px;
}
h6{
	font-size: 12px;
	font-style: normal;
	margin-top: 0px;
}
h5{
  font-size: 14px;
}
.form-group {
    margin-bottom: 8px;
}
.select2-container{
	font-size: 12px;
}

.breaker{
	margin-bottom: 10px;
	margin-top: 0px;
	padding: 0px;
}

.select2-container--default .select2-selection--single {
	border-color: #d9d9d9;
	height: 32px;
	font-size: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 32px;
	font-size: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 28px;
	font-size: 12px;
}

.select2-container--focus .select2-selection--single{
	border-color: #6DC9F7;
}


.m-signature-pad {
  font-size: 10px;
  height: 220px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  border-radius: 4px;
}

.m-signature-pad--body {
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 60px;
  border: 1px solid #f4f4f4;
}

.m-signature-pad--body
  canvas {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
  }
 .m-signature-pad--footer{
 	padding-left: 5px;
  height: 40px;
 }
 .capture-signature{
 	border: 1px solid #f1f0f0;
 	height: 200px;
 	width: 100%;
 }

 .table th, .table td{
  padding: 5px;
  font-size: 12px;
 }

.preloader{
  background: rgba(255,255,255,0.1);
}