/** change color***/
body{
	color: #445667;
	font-size: 12px;
}
.kt-sideleft-menu > .nav-item > .nav-link {
	color: #445667;
}
.kt-sideleft-menu .nav-sub .nav-link {
	color: #445667;
}
.kt-headpanel-right .dropdown-notification .dropdown-menu-header {
	color: #445667;
}
.kt-headpanel-right .dropdown-notification .media-list-link {
  color: #445667;
}
.kt-headpanel-right .dropdown-notification .media-list-link span {
  color: #445667;
}
.kt-headpanel-right .dropdown-notification .media-list-footer a {
  color: #445667;
}
.kt-headpanel-right .user-profile-nav a {
	color: #445667;
}
.content-left .nav-link {
	color: #445667;
}
.content-body .dropdown-menu a {
  color: #445667;
}
/*** end change color***/
.cbars:hover{
	color :#a0aab3;
}
.cbars:focus{
	color :#566b7d;
}
.btn-sm{
	font-size: 11px;
	border-radius: 0px;
}

.btn-m{
	font-size: 12px;
	border-radius: 0px;
}


.table{
	background-color: #fff;
}
.table th,
.table td {
	padding: 5px;
	font-size: 12px;
	color: #445667;
}

.pagination{
	font-size: 12px;
}

.pagination-basic .page-item .page-link {
  color: #495057;
  text-align: center;
  border-radius: 0;
  height: auto;
  padding: 5px 0;
}

.form-control{
	font-size: 12px;
}

 fieldset 
{
	border: 1px solid #ddd !important;
	margin: 0;
	xmin-width: 0;
	padding: 10px;       
	position: relative;
	/*border-radius:4px;*/
	background-color:#f5f5f5;
	padding-left:10px!important;
	margin-bottom: 25px;
}	
legend
{
	font-size:12px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: auto; 
	border: 1px solid #ddd;
	/*border-radius: 4px; */
	padding: 5px 10px 5px 10px; 
	background-color: #ffffff;
}
label{
	margin-bottom: 2px;
}
select.form-control-sm:not([size]):not([multiple]), .input-group-sm > select.form-control:not([size]):not([multiple]),
.input-group-sm > select.input-group-addon:not([size]):not([multiple]),
.input-group-sm > .input-group-btn > select.btn:not([size]):not([multiple]) {
  height: calc(1.8125rem);
}


.m-signature-pad {
  font-size: 10px;
  height: 220px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  border-radius: 4px;
}

.m-signature-pad--body {
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 60px;
  border: 1px solid #f4f4f4;
}

.m-signature-pad--body
  canvas {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
  }
 .m-signature-pad--footer{
 	padding-left: 5px;
  	height: 40px;
 }
 .capture-signature{
 	border: 1px solid #f1f0f0;
 	height: 170px;
 	width: 100%;
 	background: #fff;
 }

 .select2-container--default .select2-selection--single{
 	height: calc(1.8125rem);
 }

 .select2-container--default .select2-selection--single .select2-selection__arrow{
 	height: calc(1.8125rem);
 }

 .help-block{
 	color: red;
 	font-size: 11px;
 }

 .notification-display::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
}